<div class="container fade-in">


    <div>

        <div class="jumbotron">


            <div class="page-header">
                <h1>Kedjom keku seeds</h1>                
            </div>
            
            <form>
                <h3>Add an area</h3>
                <div class="row">
                    <div class="row-col" style="width: 300px;">
                    <div class="col">
                        <div class="form-group">
                            <label>Name</label>
                            <input ng-model="vm.item.name" class="form-control"/>
                        </div>
                        
                        <div class="form-group">
                            <label>Capacity (number of trees)</label>
                            <input type="number" ng-model="vm.item.capacity" class="form-control"/>
                        </div>
                        
                        <div class="form-group">
                            <label>Latitude</label>
                            <input ng-model="vm.item.latitude" class="form-control"/>
                        </div>
                        
                        <div class="form-group">
                            <label>Longtitude</label>
                            <input ng-model="vm.item.longtitude" class="form-control"/>
                        </div>
                        
                        <div class="form-group">
                            <button class="btn btn-primary" ng-click="vm.save()">Save</button>
                        </div>
                        
                    </div>
                  </div>
                </div>
            </form>


        </div>

    </div>

</div>

<!-- Notifications -->
<div noty ng-repeat="n in notifications"/>