<div class="container fade-in">

    <div>

        <div class="jumbotron">


            <div class="page-header">
                <h1>Kedjom keku trees planted asd asd asd</h1>                
            </div>
            
                <h3>This is your seeds, thank you very much. </h3>
                <div class="map">
                    
                    
                   
                </div>
                

        </div>

    </div>

</div>

<!-- Notifications -->
<div noty ng-repeat="n in notifications"/>